.tabContent {
  height: calc(100% - 48px);
  overflow: hidden;
  padding: 1rem;
  background: #ffffff;
}

.optionsScroll {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(78px, 1fr));
  gap: 12px;
  justify-content: start;
  padding: 0;
}

.optionCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.selected {
  position: relative;
  background-color: transparent;
}

.selected::after {
  display: none;
}

.imageWrapper {
  position: relative;
  width: 78px;
  height: 78px;
  background: #ffffff;
  border-radius: 0.5rem;
  border: 0.03rem solid #e3e3e3;
  transition: all 0.2s;
  overflow: hidden;
}

.optionImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.optionName {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
  transition: all 0.2s;
}

.comingSoon {
  opacity: 0.6;
  cursor: not-allowed;
}

.comingSoonBadge {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 2px 6px;
  font-family:
    PingFangSC,
    PingFang SC;
  font-weight: 400;
  font-size: 0.69rem;
  color: #a6a6a6;
  border-radius: 0rem 0.5rem 0rem 0.5rem;
  background: #eeeeee;
  z-index: 1;
}

/* 选中状态样式 */
.selected .imageWrapper {
  border-color: #ff4d4f;
}

.selectedText {
  color: #ff4d4f;
  font-weight: 600;
}

@media (max-width: 768px) {
  .optionsScroll {
    grid-template-columns: repeat(auto-fill, minmax(3.6rem, 1fr));
    gap: 0.75rem;
  }

  .imageWrapper {
    width: 3.78rem;
    height: 3.78rem;
    border-radius: 0.25rem;
  }
}
