.previewArea {
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
}

.editArea {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  width: 750px;
  height: 750px;
  margin: 0 auto;
  transform: translateY(-50px);
  display: flex;
  justify-content: center;
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainPreview {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
  pointer-events: none;
}

@media (max-width: 768px) {
  .previewArea {
    height: calc(100vw - 40px);
    padding-top: 10px;
    width: 100%;
  }

  .imageContainer {
    width: 100%;
    height: 100%;
    transform: translateY(-30px);
    display: flex;
    justify-content: center;
  }
}
